#main {
  & > * {
    padding: 4rem 10rem 4rem;
  }

  .header {
    color: white;
    background: #2727a9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .headerUpper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .description {
        display: flex;
        flex-direction: column;
        align-items: end;
      }
    }

    .headerSearch {
      display: flex;
      background: white;
      padding: 1.5rem;
      border-radius: 5px;

      input {
        flex: 1;
      }
    }
  }
}
