@import "./../variables";

$side-spacing-lg: 15rem;
$side-spacing-xs: 1rem;

#main {
  & > * {
    padding-right: $side-spacing-lg;
    padding-left: $side-spacing-lg;

    @media screen and (max-width: $max-width-mob) {
      padding-right: $side-spacing-xs;
      padding-left: $side-spacing-xs;
    }
  }

  img.logo {
    cursor: pointer;
  }

  .header {
    color: white;
    background: #2727a9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4rem;

    position: sticky;
    top: 0;
    z-index: 5;

    @media screen and (max-width: $max-width-mob) {
      padding-top: 1.5rem;
    }

    .headerUpper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $max-width-mob) {
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }

      .description {
        display: flex;
        flex-direction: column;
        align-items: end;

        @media screen and (max-width: $max-width-mob) {
          align-items: start;
        }
      }
    }

    .headerSearch {
      display: flex;
      background: white;
      padding: 1.5rem;
      border-radius: 5px;
      margin-top: 4rem;

      @media screen and (max-width: $max-width-mob) {
        margin-top: 2rem;
      }

      form {
        display: flex;
        flex: 1;

        input {
          flex: 1;
        }
      }
    }
  }

  .content {
    padding-top: 8rem;
    padding-bottom: 4rem;

    @media screen and (max-width: $max-width-mob) {
      padding-top: 5rem;
      padding-bottom: 3rem;
    }

    .card {
      img {
        height: 8rem;
        width: inherit;
        margin: 1rem 1rem 0 1rem;
        border-radius: 5px;
      }
    }

    .moreContainer {
      display: flex;
      justify-content: center;
      margin-top: 3rem;

      .btn {
        padding: 0.8rem 4rem;
      }

      @media screen and (max-width: $max-width-mob) {
        margin-top: 2rem;

        .btn {
          flex: 1;
          padding-top: 0.7rem;
          padding-bottom: 0.7rem;
        }
      }
    }

    .noContent h1 {
      text-align: center;
    }
  }

  .footer {
    color: white;
    background: #333333;
    padding-top: 3.8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;

    @media screen and (max-width: $max-width-mob) {
      padding-top: 1.7rem;
      padding-bottom: 1.3rem;
      gap: 1.5rem;
    }

    .footerUpper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: $max-width-mob) {
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
      }

      .subscribeBox {
        width: inherit;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 0.5rem;

        @media screen and (max-width: $max-width-mob) {
          flex-direction: row;
          gap: 1rem;
          flex: 1;
          width: 100%;
        }

        input {
          width: 17rem;
          flex: 1;
        }
      }
    }

    .footerLower {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $max-width-mob) {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        border-top: 1px solid grey;
        margin-top: 0.5rem;
        padding-top: 1.5rem;
      }
    }
  }
}
