<div id="main">
  <div class="header">
    <div class="headerUpper">
      <img src="../assets/images/logo.png" alt="" class="logo" />
      <div class="description">
        <span>Best list of all countries with their flags</span>
        <span>on the whole internet !!!</span>
      </div>
    </div>
    <div class="headerSearch shadow" id="headerSearch">
      <input type="text" class="form-control me-3" />
      <button class="btn btn-primary">SEARCH</button>
    </div>
  </div>

  <div class="content"></div>

  <div class="footer">
    <div class="footerUpper">
      <img src="../assets/images/logo.png" alt="" class="logo" />
      <div class="subscribeBox">
        <input type="text" class="form-control" />
        <button class="btn btn-primary">SUBSCRIBE</button>
      </div>
    </div>
    <div class="footerLower">
      <div class="name">Worldpedia Inc</div>
      <div class="rights">2023 | All Rights Reserved</div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
