<div id="main">
  <div class="header d-flex">
    <div class="headerUpper">
      <img src="../assets/images/logo.png" alt="" class="logo" />
      <div class="description">
        <span>Best list of all countries with their flags</span>
        <span>on the whole internet !!!</span>
      </div>
    </div>
    <div class="headerSearch">
      <input type="text" />
      <button>SEARCH</button>
    </div>
  </div>

  <div class="content"></div>

  <div class="footer">
    <div class="footerUpper"></div>
    <div class="footerLower"></div>
  </div>
</div>

<router-outlet></router-outlet>
