/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import "./variables";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn {
  @media screen and (min-width: $max-width-mob) {
    padding: 0.5rem 1.7rem;
  }
  padding-left: 0.85rem;
  padding-right: 0.85rem;
}

.spinnerContainer,
.noContent {
  background-color: rgba(207 229 236 / 0.5);

  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border {
  height: 4rem;
  width: 4rem;

  @media screen and (max-width: $max-width-mob) {
    height: 3rem;
    width: 3rem;
  }
}
